<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Notification - policewatch5 WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>policewatch5 WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>policewatch5.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F32475FA1C54452300D78F9D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F324760E1C54452300D78F9D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F32476191C54452300D78F9D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F32476221C54452300D78F9D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
